In [55]:
import pandas as pd

In [56]:
df = pd.read_csv("Salary_predict.csv")

In [57]:
df.head()

   experience  age  interview_score  Salary
0           4   30              8.0   50000
1           3   23              4.0   22000
2           2   25              5.0   30000
3           4   33              9.0   55000
4           1   20              5.0   13000

In [58]:
df.describe()

       experience        age  interview_score        Salary
count   20.000000  20.000000        20.000000     20.000000
mean     3.250000  26.300000         5.475000  30350.000000
std      1.517442   7.384906         2.582711  19780.439567
min      1.000000  16.000000         1.000000    500.000000
25%      2.000000  20.000000         4.000000  12750.000000
50%      3.000000  25.000000         5.500000  27500.000000
75%      4.000000  32.250000         7.625000  48500.000000
max      7.000000  42.000000         9.000000  60000.000000

In [59]:
from sklearn.preprocessing import MinMaxScaler
sca = MinMaxScaler()
Scalar_data = sca.fit_transform(df)
Scalar_data

array([[0.5       , 0.53846154, 0.875     , 0.83193277],
       [0.33333333, 0.26923077, 0.375     , 0.36134454],
       [0.16666667, 0.34615385, 0.5       , 0.49579832],
       [0.5       , 0.65384615, 1.        , 0.91596639],
       [0.        , 0.15384615, 0.5       , 0.21008403],
       [0.16666667, 0.07692308, 0.        , 0.14285714],
       [0.5       , 0.61538462, 0.625     , 0.79831933],
       [0.        , 0.        , 0.125     , 0.        ],
       [0.33333333, 1.        , 1.        , 1.        ],
       [0.33333333, 0.69230769, 0.8125    , 0.74789916],
       [0.33333333, 0.15384615, 0.5       , 0.41176471],
       [0.16666667, 0.03846154, 0.        , 0.        ],
       [0.66666667, 0.34615385, 0.625     , 0.41176471],
       [0.33333333, 0.65384615, 0.375     , 0.59663866],
       [0.16666667, 0.19230769, 0.125     , 0.12605042],
       [0.66666667, 0.57692308, 0.875     , 0.91596639],
       [0.16666667, 0.80769231, 1.        , 0.96638655],
       [1.        , 0.11538462, 0.625     , 0.19327731],
       [0.5       , 0.23076923, 0.5       , 0.32773109],
       [0.66666667, 0.46153846, 0.75      , 0.57983193]])

In [60]:
my_data = pd.DataFrame(Scalar_data)
my_data.columns = ["experience","age","interview_score","Salary"]
my_data

    experience       age  interview_score    Salary
0     0.500000  0.538462           0.8750  0.831933
1     0.333333  0.269231           0.3750  0.361345
2     0.166667  0.346154           0.5000  0.495798
3     0.500000  0.653846           1.0000  0.915966
4     0.000000  0.153846           0.5000  0.210084
5     0.166667  0.076923           0.0000  0.142857
6     0.500000  0.615385           0.6250  0.798319
7     0.000000  0.000000           0.1250  0.000000
8     0.333333  1.000000           1.0000  1.000000
9     0.333333  0.692308           0.8125  0.747899
10    0.333333  0.153846           0.5000  0.411765
11    0.166667  0.038462           0.0000  0.000000
12    0.666667  0.346154           0.6250  0.411765
13    0.333333  0.653846           0.3750  0.596639
14    0.166667  0.192308           0.1250  0.126050
15    0.666667  0.576923           0.8750  0.915966
16    0.166667  0.807692           1.0000  0.966387
17    1.000000  0.115385           0.6250  0.193277
18    0.500000  0.230769           0.5000  0.327731
19    0.666667  0.461538           0.7500  0.579832

In [61]:
X = df[["experience",'age']]
y = df[["Salary"]]

In [62]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=3)

In [63]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

In [64]:
from sklearn  import metrics
accuracy = model.score(X_test,y_test)
print(accuracy*100,"%")

15.152170780437157 %

In [65]:
model.predict(X_test)

array([[15547.63992532],
       [24703.14895343],
       [22902.8829119 ],
       [24857.3277739 ]])

In [66]:
model.intercept_

array([-38073.75941733])

In [67]:
model.coef_

array([[2777.48847253, 2288.87725703]])

In [68]:
import pickle

In [69]:
pickle.dump(model,open('model.pkl','wb'))

In [70]:
model = pickle.load(open("model.pkl",'rb'))

In [71]:
print(model.predict([[2,27]]))

[[29280.90346749]]

c:\Users\SAI DURGA PRASAD\Desktop\Employ_income\venv\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(